body{
    background-color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0px;
}


 #main-nav {
    background-color: #000000;
    color: white;
    padding: 10px;
    display: flex;
}

#main-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Add this line */
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%; /* Make ul take full width */
}

#main-nav li {
    list-style: none;
    margin-right: 20px;
    font-size: 18px;
    flex-direction: column;
}

.nav-links {
    display: flex;
    flex-direction: row; /* Keep links in a row */
}

#logo {
    height: 24px;
    width: auto;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}
a {
    text-decoration: none;
    color: rgb(255,163,26);
    font-family: "Bitcount Single", system-ui;
    hover: color: rgb(255, 255, 255);
}
a:hover {
    color: rgb(128,128,128);
}